.lfr-layout-structure-item-container {padding: 0;} .lfr-layout-structure-item-row {overflow: hidden;} .portlet-borderless .portlet-content {padding: 0;}.lfr-layout-structure-item-76641ecb-999b-e21b-28b0-ced871bcaf2b {
background-color: #000000 !important;
margin-top: var(--spacer-6,4.5rem) !important;
padding-bottom: var(--spacer-5,3rem) !important;
padding-left: var(--spacer-7,6rem) !important;
padding-right: var(--spacer-7,6rem) !important;
padding-top: var(--spacer-5,3rem) !important;
}
.lfr-layout-structure-item-930d3d63-6aa4-2219-f6c5-126409d7a5fe {
  background: #e0eaf6;
}.lfr-layout-structure-item-b43a15ec-af15-e96c-3d8b-f08d4bf7a392 {
background-color: #5177DA !important;
padding-top: var(--spacer-5,3rem) !important;
}
.lfr-layout-structure-item-5da562db-b880-b333-df9d-af504381fedc {
margin-left: var(--spacer-4,1.5rem) !important;
margin-right: var(--spacer-4,1.5rem) !important;
}
.lfr-layout-structure-item-ef4be860-168e-ffb9-8cad-e7573621dc9f {
margin-top: var(--spacer-5,3rem) !important;
padding-bottom: var(--spacer-4,1.5rem) !important;
padding-left: var(--spacer-4,1.5rem) !important;
padding-right: var(--spacer-4,1.5rem) !important;
padding-top: var(--spacer-4,1.5rem) !important;
}
.lfr-layout-structure-item-ef4be860-168e-ffb9-8cad-e7573621dc9f {
  display: inline-block;
  background: #5177da;
}.lfr-layout-structure-item-8c12bc14-5b1e-6fb3-85f1-3b68bf1b5929 {
text-align: center !important;
}
.lfr-layout-structure-item-753a8434-4a9e-a9d4-5e7f-dacf96e04fef {
margin-top: var(--spacer-5,3rem) !important;
}
.lfr-layout-structure-item-753a8434-4a9e-a9d4-5e7f-dacf96e04fef .video{
  margin: auto;
}.lfr-layout-structure-item-ec171a72-c847-51a8-7a48-b594c237d6f9 {
  border-left: 5px solid #5177da;
  padding-left: 15px;
}.lfr-layout-structure-item-c57f4aa7-427e-05e5-3b85-491d1a0a1057 {
max-width: 960px !important;
}
.lfr-layout-structure-item-c57f4aa7-427e-05e5-3b85-491d1a0a1057 {
  margin: auto;
}.lfr-layout-structure-item-42f6dab6-3e8e-a8f2-fec7-fc900c9b2fc1 {
padding-top: var(--spacer-5,3rem) !important;
}
.lfr-layout-structure-item-ae501c7e-df49-4f40-d416-34d236dc0740 {
text-align: center !important;
color: var(--color-neutral-0) !important;
}
.lfr-layout-structure-item-f36d40c8-b574-59c8-4f5c-77c0b38f038f {
margin-left: var(--spacer-4,1.5rem) !important;
margin-right: var(--spacer-4,1.5rem) !important;
}
.lfr-layout-structure-item-fd6c3ae1-697c-99c8-704c-4da4248ba766 {
background-color: #5177DA !important;
padding-top: var(--spacer-4,1.5rem) !important;
}
.lfr-layout-structure-item-3e4f4b3e-c225-ea87-5284-3c31e91eb7c6 {
text-align: center !important;
color: var(--color-neutral-0) !important;
}
.lfr-layout-structure-item-d5a940a3-c4ad-d37e-8632-4892ee01a22d {
padding-left: var(--spacer-7,6rem) !important;
padding-right: var(--spacer-7,6rem) !important;
padding-top: var(--spacer-7,6rem) !important;
}
.lfr-layout-structure-item-5b68878c-a8ac-03d8-522d-d2e5b6a81847 {
margin-top: var(--spacer-6,4.5rem) !important;
}
.lfr-layout-structure-item-538e2c02-64f2-2982-1571-7029ebc48b66 {
margin-left: var(--spacer-4,1.5rem) !important;
margin-right: var(--spacer-4,1.5rem) !important;
}
.lfr-layout-structure-item-444d8cde-0127-41d4-79bb-a3bb94e0af7c {
margin-top: var(--spacer-5,3rem) !important;
}
.lfr-layout-structure-item-444d8cde-0127-41d4-79bb-a3bb94e0af7c {
  font-size: 1.75rem;
  line-height: 2rem;
}.lfr-layout-structure-item-e3ea19a7-1d51-90e7-648d-a31f6a008365 {
padding-bottom: var(--spacer-7,6rem) !important;
padding-left: var(--spacer-7,6rem) !important;
padding-right: var(--spacer-7,6rem) !important;
padding-top: var(--spacer-7,6rem) !important;
color: var(--color-neutral-0) !important;
}
.lfr-layout-structure-item-e3ea19a7-1d51-90e7-648d-a31f6a008365 {
  background: #000000;
}.lfr-layout-structure-item-be3052a7-9ce2-49fa-2f56-66666bc98e69 {
text-align: center !important;
}
.lfr-layout-structure-item-c6795f6d-1cd2-3466-ab10-686c9ddbe74f {
margin-top: var(--spacer-6,4.5rem) !important;
color: #332B4A !important;
}
.lfr-layout-structure-item-21a19f21-d99b-9b0a-c65c-6b174398a65b {
margin-bottom: var(--spacer-3,1rem) !important;
text-align: center !important;
color: #5177DA !important;
}
.lfr-layout-structure-item-026004ad-9a6b-f12a-49a1-c67c9f3bbbe8 {

}
 div.psp-footer__info > div > span,
 div.psp-footer__info > div > a,{ 
   display: none;
  }.lfr-layout-structure-item-38a88a2c-36ab-fd34-fcab-04cbbbd9f76d {
font-size: 16px !important;
}
.lfr-layout-structure-item-38a88a2c-36ab-fd34-fcab-04cbbbd9f76d a {
  font-size: 1rem;
  color: #FFFFFF;
}.lfr-layout-structure-item-ebd59da2-b78c-e2c2-300e-5bf625d3495e {
margin-top: var(--spacer-5,3rem) !important;
}
.lfr-layout-structure-item-ebd59da2-b78c-e2c2-300e-5bf625d3495e {
  text-decoration:  underline;
}

.lfr-layout-structure-item-ebd59da2-b78c-e2c2-300e-5bf625d3495e a {
  color: #000000 !important;
  font-weight: 600;
}@media screen and (max-width: 575px) {.lfr-layout-structure-item-76641ecb-999b-e21b-28b0-ced871bcaf2b {
padding-left: var(--spacer-4,1.5rem) !important;
padding-right: var(--spacer-4,1.5rem) !important;
}
.lfr-layout-structure-item-5da562db-b880-b333-df9d-af504381fedc {
margin-top: var(--spacer-4,1.5rem) !important;
}
.lfr-layout-structure-item-ef4be860-168e-ffb9-8cad-e7573621dc9f {
padding-bottom: var(--spacer-3,1rem) !important;
padding-left: var(--spacer-3,1rem) !important;
padding-right: var(--spacer-3,1rem) !important;
padding-top: var(--spacer-3,1rem) !important;
}
.lfr-layout-structure-item-753a8434-4a9e-a9d4-5e7f-dacf96e04fef {
margin-left: var(--spacer-3,1rem) !important;
margin-right: var(--spacer-3,1rem) !important;
}
.lfr-layout-structure-item-d5a940a3-c4ad-d37e-8632-4892ee01a22d {
padding-bottom: var(--spacer-4,1.5rem) !important;
padding-left: var(--spacer-4,1.5rem) !important;
padding-right: var(--spacer-4,1.5rem) !important;
padding-top: var(--spacer-4,1.5rem) !important;
}
.lfr-layout-structure-item-538e2c02-64f2-2982-1571-7029ebc48b66 {
margin-top: var(--spacer-4,1.5rem) !important;
}
.lfr-layout-structure-item-e3ea19a7-1d51-90e7-648d-a31f6a008365 {
padding-bottom: var(--spacer-4,1.5rem) !important;
padding-left: var(--spacer-4,1.5rem) !important;
padding-right: var(--spacer-4,1.5rem) !important;
padding-top: var(--spacer-4,1.5rem) !important;
}
}